/* .header {
  position: relative;
  min-height: 6.25rem;
  max-height: 25rem;
  min-width: 6.25rem;
  width: 100%;
  background-color: #00303f;
  color: #f5f4f4;
  display: inline;
  justify-content: space-between;
  align-items: center;
} */

.Navbar {
  position: relative;
  width: 100%;
  /* background-color: #00303f;
  color: #f5f4f4; */
  display: inline;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
